<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAOimf8bcogJHOyKMlZngcgb3qaZg-1tY</string>
	<key>GCM_SENDER_ID</key>
	<string>665775063562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.claysol.dynamicthemeexample.example</string>
	<key>PROJECT_ID</key>
	<string>dynamicthemingplatform</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamicthemingplatform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665775063562:ios:609a32bc6e5966fc09d5f3</string>
	<key>DATABASE_URL</key>
	<string>https://dynamicthemingplatform-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>